.int-track-guarantee-heading {
    color: var(--Woodsmoke-50, #F5F5F6);

}

.int-track-guarantee-section {
    width: 100%;
}

.int-track-guarantee-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 21px;
    background: #350B35;
    padding: 40px;

}


.int-track-guarantee-right {
    display: flex;
    gap: 35px;
    flex-direction: column;
    width: 50%;
    max-width: 535px;
}

/* .int-track-guarantee-left {
    width: 50%;
    display: flex;
    justify-content: center;
} */

.int-track-company-div {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.int-track-company-hiring-box {
    /* gap: 16.875px; */
    display: flex;
    width: 170px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--Color-2, #FFF);
    box-shadow: 0px 0.5px 7.3px 0px rgba(65, 65, 65, 0.10);
    margin: 10px;
    margin-right: 25px;
}


@media (width<1080px) {
    .int-track-guarantee-div {
        flex-direction: column;
    }

    .int-track-guarantee-right {
        width: 100%;
        gap: 20px;
    }

    .int-track-guarantee-div>img {
        max-width: 480px;
    }
}


@media (width<580px) {


    .int-track-guarantee-right {
        gap: 14px;

    }
}

@media (width<480px) {
    .int-track-guarantee-div {
        padding: 20px 16px;
    }

    .int-track-guarantee-div>img {
        width: 80%;
    }

    .int-track-company-hiring-box {
        margin-right: 12px;
    }
}