.int-track-hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.int-track-section,
.int-track-section.int-track-hero-section {
    padding-top: 16px;
}

.int-track-hero-section>div {
    width: 50%;
}

.int-track-hero-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.int-track-hero-left-iit {
    display: flex;
    padding: 10px 21px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid #800080;
    background: var(--Color-2, #FFF);
    width: fit-content;
}

.int-track-hero-left-top {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.int-track-main-heading {
    line-height: 120%;
    max-height: 264px;
    font-size: clamp(36px, 4vw, 55px);
}


.int-track-hero-left-bottom-card {
    display: flex;
    gap: 10px;
}

.int-track-hlbc-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.int-track-hlbc-card-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(128, 0, 128, 0.70);
}

.int-track-hero-left-svg {
    width: 24px;
    height: 24px;
}

.int-track-hero-right {
    display: flex;
    gap: 17px;
    align-items: center;
    justify-content: center;
    position: relative;
}


.int-track-hero-right-design {
    position: absolute;
    right: -80px;
    top: -300px;
    fill: var(--Linear, linear-gradient(188deg, rgba(128, 0, 128, 0.30) 6.4%, rgba(255, 134, 76, 0.08) 42.44%));
    opacity: 0.7;

}

.int-track-small-hero-design {
    display: none;
}

.int-track-hero-right-series-1 {
    padding-top: 28px;
}

.int-track-hero-right-series {
    gap: 15px;
    display: flex;
    flex-direction: column;

}

.int-track-hero-right-series-1>.int-track-hero-right-card {
    padding: 24px 26px;
    z-index: 100;
}

.int-track-hero-right-series-2>.int-track-hero-right-card {
    padding: 24px 9px;
    z-index: 100;
}

.int-track-hero-right-card {
    max-width: 192px;
    border-radius: 17px;
    background: var(--Color-2, #FFF);
    box-shadow: 0px 4px 14.8px 0px rgba(0, 0, 0, 0.25);
    height: 202px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.int-track-hero-right-card>svg {
    justify-self: center;
}

.int-track-hero-right-card-text {
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
}



@media (width<980px) {
    .int-track-hero-section {
        flex-direction: column;
    }

    .int-track-hero-right-design {
        right: -63px;
        top: -250px;
    }

    .int-track-large-hero-design {
        display: none;
    }

    .int-track-small-hero-design {
        display: block;
        top: 0;
        right: -64px;

    }

    .int-track-hero-section>div {
        width: 100%;
    }

    .int-track-hero-right {
        margin-top: 48px;
    }

    .int-track-main-heading {
        font-size: 55px;
        max-height: none;
        width: 70%;
    }

    .int-track-main-heading>.int-track-text-light-pink {
        background: var(--Linear, linear-gradient(96deg, rgba(128, 0, 128, 0.87) 22.35%, rgba(255, 134, 76, 0.87) 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


@media (width<780px) {
    .int-track-main-heading {
        font-size: 45px;
        width: 100%;
    }

    .int-track-section.int-track-hero-section {
        padding-top: 50px;
    }
}

@media (width<580px) {
    .int-track-hero-left-svg {
        width: 20px;
        height: 20px;
    }

    .int-track-hero-right {
        gap: 12px;
    }

    .int-track-hero-right-series-1>.int-track-hero-right-card {
        padding: 19px 21px;
    }

    .int-track-hero-right-series-2>.int-track-hero-right-card {
        padding: 19.522px 7.384px 19.522px 6.652px;
    }

    .int-track-hlbc-card-right>svg {
        width: 20px;
    }

    .int-track-hlbc-card {
        gap: 3px;
    }
}

@media (width<480px) {
    .int-track-main-heading {
        font-size: 34px;
    }

    .int-track-hero-left-bottom-card {
        gap: 4px;
    }

    .int-track-hlbc-card-left {
        padding: 7px 4px;
        gap: 5px;
    }
}

@media (width<330px) {
    .int-track-hero-right {
        flex-wrap: wrap;

    }

    .int-track-hero-right-series-1 {
        padding-top: 0;
    }
}