.internship-heading {
    max-width: 690px;
    margin: 0 auto;
}

.internship-cards {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, minmax(1fr, 947px));
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    margin-top: 48px;
    margin-left: auto;
}

.internship-card {
    position: relative;
    padding: 33px 20px 33px 50px;
    max-width: 947px;

    overflow: hidden;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: var(--Color-2, #FFF);
}

.internship-card-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--Linear, linear-gradient(90deg, #800080 3.92%, #B466C1 52.78%, #800080 92.42%));
    left: calc(19px - 100%);
    top: 0;
}

.internship-card-2>.internship-card-background {
    top: 0;
    left: 0;
    z-index: 10;
}

.internship-card-2>.internship-card-inner {
    z-index: 100;
    position: relative;
}

.internship-card-inner {
    display: flex;
    align-items: center;
    gap: 40px;
}

.internship-card-text {
    color: #150E42;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


@media (width<580px) {
    .internship-card {
        padding: 17px 28px;
    }

    .internship-card-inner {
        gap: 14px;
    }

    .internship-card-icon {
        width: 68px;
        height: 68px;
    }

    .internship-card-text {
        font-size: 16px;
    }
}

@media (width<360px) {
    .internship-card {
        padding: 17px 14px;
    }

    .internship-card-background {
        left: calc(9px - 100%);
    }

}