.int-track-roadmap {
    border-radius: 21px;
    background: #350B35;
    padding: 48px 16px;
}

.int-track-roadmap-heading {
    color: var(--Woodsmoke-50, #F5F5F6);
    line-height: 1.4;
}

.int-track-roadmap-card-top {
    display: grid;
    grid-template-columns: 93px 77px minmax(min-content, auto);
    grid-template-rows: 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 64px auto;
}


.int-track-rct-r {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 40px;
    height: 100%;
}

.int-track-rct-l {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 75%;
}

.int-track-rct-m {
    height: 75%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    /* gap: 40px; */
}

.int-track-rct-m-1,
.int-track-rct-m-2,
.int-track-rct-m-3 {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.int-track-rct-m-4 {
    width: 100%;
    position: relative;
}

.int-track-rct-m-1::before,
.int-track-rct-m-2::before,
.int-track-rct-m-3::before,
.int-track-rct-m-4::before {
    content: '';
    position: absolute;
    clip-path: polygon(100% 0, 0 50%, 100% 96%);
    width: 15px;
    height: 15px;
    z-index: 1000;
    background: rgb(255, 255, 255);
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.int-track-rct-m-1::after,
.int-track-rct-m-2::after,
.int-track-rct-m-3::after,
.int-track-rct-m-4::after {
    content: '';
    position: absolute;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    width: 15px;
    height: 15px;
    z-index: 1000;
    background: rgb(255, 255, 255);
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}



.int-track-roadmap-vertical-line {
    height: 100%;
    border-left: 1px dashed white;
}

.int-track-rct-r-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(100deg, #B1B1B1 0.89%, #BDBDBD 9.58%, #EBE6E6 26.9%, #FFF 44.84%, #F0F0F0 64.21%, #CBCBCB 84.67%, #BEBEBE 102.86%);
    padding: 20px 25px;
    /* max-width: 538px; */
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.int-track-rct-r-btn {
    display: inline-flex;
    padding: 13.056px 22px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border-radius: 5.221px;
    background: #800080;
    box-shadow: 0px 2.793px 6.215px 0px rgba(0, 0, 0, 0.25);
    color: var(--Color-2, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%;
    min-width: 160px;
    /* 19.76px */
}

.int-track-rct-r-heading {
    color: var(--Eminence-950, #450D45);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.int-track-rct-r--t {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
}

.int-track-rct-r--b {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 428px;
}

.int-track-roadmap-card-icon {
    width: 20px;
    height: 19px;
}

.int-track-card-num-div {
    display: flex;
    position: relative;
    height: 100%;
}

.int-track-card-num {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 93px;
    height: 93px;
    flex-shrink: 0;
    background: linear-gradient(141deg, #B1B1B1 15.65%, #BDBDBD 21.44%, #D0D0D0 33%, #FAFAFA 44.97%, #EDEDED 57.9%, #CBCBCB 71.55%, #BEBEBE 83.69%);
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);

}

.int-track-card-num>p {
    font-family: Poppins;
    font-size: 48.857px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--Linear, linear-gradient(90deg, #800080 3.92%, #B466C1 52.78%, #800080 92.42%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.int-track-card-num-div-4 {
    height: 0;
}

.int-track-roadmap-card-bottom {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 64px;
}

.int-track-rcb-card {
    display: flex;
    padding: 26px 32px;
    align-items: center;
    border-radius: 11.936px;
    background: var(--Linear, linear-gradient(100deg, #B1B1B1 0.89%, #BDBDBD 9.58%, #EBE6E6 26.9%, #FFF 44.84%, #F0F0F0 64.21%, #CBCBCB 84.67%, #BEBEBE 102.86%));
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: 384px;
}

.int-track-rcb-bottom {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.int-track-rcb-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.int-track-rcb-top-heading {
    color: var(--Eminence-800, #7F2781);
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 121%;
    /* 36.3px */
}


@media (width<1180px) {
    .int-track-rct-r-heading {
        font-size: 26px;
    }

    .int-track-rct-r-heading {
        font-size: 25px;
    }
}


@media (width<780px) {
    .int-track-roadmap-card-top {
        grid-template-columns: 27px minmax(min-content, auto);
        grid-template-rows: 1fr;
        gap: 8px;
    }

    .int-track-rcb-top-heading {
        font-size: 20px;
    }

    .int-track-rct-r-heading {
        font-size: 20px;
        max-width: calc(100% - 134px);
    }

    .int-track-rct-r-card {
        padding: 15px 14px;
    }



    .int-track-rct-l {
        display: none;
    }

    .int-track-roadmap-vertical-line {
        display: none;
    }

    .int-track-rct-m-1,
    .int-track-rct-m-2,
    .int-track-rct-m-3 {
        height: 100%;
        border-left: 1px dashed white;
    }

    .int-track-rct-m-1::before,
    .int-track-rct-m-2::before,
    .int-track-rct-m-3::before,
    .int-track-rct-m-4::before {
        display: none;
    }

    .int-track-rct-r-btn {
        display: flex;
        min-width: unset;
        width: 126px;
        height: 38px;
        padding: 10px 11px;
        justify-content: center;
        align-items: center;
        gap: 3px;
        border-radius: 5.221px;
        background: #800080;
        box-shadow: 0px 2.793px 6.215px 0px rgba(0, 0, 0, 0.25);
        font-size: 14px;
    }

    .int-track-rct-m-1::after,
    .int-track-rct-m-2::after,
    .int-track-rct-m-3::after,
    .int-track-rct-m-4::after {
        width: 10px;
        height: 10px;
    }

    .int-track-rct-r--t {
        gap: 4px;
    }

    .int-track-rct-r--b,
    .int-track-rcb-bottom {
        font-size: 14px;
    }
}


@media (width<420px) {
    .int-track-section.int-track-section-roadmap {
        padding: 48px 8px;
    }

    .int-track-roadmap {
        padding: 48px 10px;
    }

    .int-track-rct-r-btn {
        width: 126px;
    }

    .int-track-rct-r {
        /* align-items: center; */
        gap: 18px;
    }

    .int-track-rct-r-heading {
        width: calc(100% - 130px);
        line-height: 1.2;
    }

    .int-track-rct-r-card {
        height: fit-content;
    }

    .int-track-rct-r-heading {
        max-width: unset;
    }

    .int-track-rct-r--t {
        flex-wrap: wrap;
    }

    .int-track-rcb-card {
        padding: 21px 16px;
    }

    .int-track-rcb-top-icon>svg {
        width: 23px;
        height: 13px;
    }
}

@media (width<375px) {
    .int-track-rct-r--t {
        flex-wrap: wrap;
    }

    .int-track-rct-r-heading {
        width: 100%;
    }

    .int-track-rct-r {
        align-items: center;
    }
}